@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

:root {
  --body-gray: hsl(0, 0%, 8%), black;
  --container-gray: hsl(0, 0%, 12%);
  --button-gray: hsl(0, 0%, 20%);
  --text-white: hsl(0, 0%, 100%);
  --text-green: hsl(75, 94%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40rem;
  height: 60rem;
  background-color: var(--container-gray);
  border-radius: 12px;
}

.header {
  display: block;
  margin: auto auto;
}

.profile-pic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.header .name {
  font-size: 8rem;
  color: var(--text-white);
}

.header .location {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: var(--text-green);
}

.header .about {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: var(--text-white);
}





