:root {
  --body-gray: hsl(0, 0%, 8%), black;
  --container-gray: hsl(0, 0%, 12%);
  --button-gray: hsl(0, 0%, 20%);
  --text-white: hsl(0, 0%, 100%);
  --text-green: hsl(75, 94%, 57%);
}

body {
  width: 99vw;
  height: 99vh;
  background-color: var(--body-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 13rem;
  height: 10rem;
  background-color: var(--container-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 
}






